* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.msgContainer {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vmin;
}

.box {
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    /* font-size: 8rem; */
    background-color: aliceblue;
    color: black;
    text-align: center;
}

/* #reset,
#new-btn {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
} */

.btn-custom{
    background-color: #65e5df;
}

.btn-custom:hover{
    background-color: #48ddd6;
}

.hide {
    display: none;
}

.hide-main {
    display: none;
}

@media (max-width: 480px) {
    .box {
        font-size: 2.5rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .box {
        font-size: 7rem;
    }
}

@media (min-width: 768px) {
    .box {
        font-size: 8rem;
    }
}


@media (max-width: 480px) {
    #msg {
        font-size: 3rem;
        color: black;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    #msg {
        font-size: 4rem;
        color: black;
    }

}

@media (min-width: 768px) {
    #msg {
        font-size: 5rem;
        color: black;
    }

}